body {
  background-image: url("http://www.mrwallpaper.com/wallpapers/cream-roses-cupcakes.jpg")
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: purple;
  font-weight: bold;
}

.amazing {
  text-shadow: 2px 2px 2px #FF0000;
}
